@import "tailwindcss";

@theme {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* بروتوكول التصحيح الإجباري لضمان السيادة البصرية */
@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
    background-color: #000000 !important; /* لضمان السواد المطلق */
    color: #ffffff !important;
  }
}

@layer components {
  .grid { display: grid !important; }
  .flex { display: flex !important; }
}